# Node modules
node_modules/

# Build files
dist/
build/

# Environment variables (VERY IMPORTANT)
.env
.env.local
.env.development
.env.production

# Firebase
.firebase/
firebase-debug.log

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Misc
*.local